In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import cufflinks as cf
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode(connected=True)
# cf.go_offline()
%matplotlib inline

deliveries = pd.read_csv("IPL Cricsheet CS new/all_matches.csv")

C:\Users\Asus\anaconda3\envs\DataAnalysisEnv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
deliveries.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [5]:
deliveries_2021 = deliveries[(deliveries['season'] == 2021) | (deliveries['season'] == '2021')]
deliveries_2021

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
193617,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.1,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193618,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.2,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193619,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.3,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193620,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.4,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193621,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.5,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197990,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.1,Rajasthan Royals,Kolkata Knight Riders,SV Samson,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197991,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.2,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197992,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.3,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197993,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.4,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197994,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.5,Rajasthan Royals,Kolkata Knight Riders,SV Samson,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
deliveries_2021.venue.value_counts()

MA Chidambaram Stadium, Chepauk, Chennai    2201
Wankhede Stadium, Mumbai                    2177
Name: venue, dtype: int64

In [7]:
Chepauk_2021 = deliveries_2021[deliveries_2021['venue'] == 'MA Chidambaram Stadium, Chepauk, Chennai']
Wankhede_2021 = deliveries_2021[deliveries_2021['venue'] == 'Wankhede Stadium, Mumbai']

In [13]:
import math

In [30]:
Chepauk_2021['Over Number'] = (Chepauk_2021['ball'] // 1) + 1
Chepauk_2021['Ball Number'] = round(((Chepauk_2021['ball']) % 1) * 10)
Chepauk_2021 = Chepauk_2021.astype({"Over Number": int, "Ball Number": int})
Chepauk_2021

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,Over Number,Ball Number
193617,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.1,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
193618,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.2,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
193619,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.3,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3
193620,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.4,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4
193621,1254058,2021,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.5,Mumbai Indians,Royal Challengers Bangalore,RG Sharma,CA Lynn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197744,1254074,2021,2021-04-23,"MA Chidambaram Stadium, Chepauk, Chennai",2,16.6,Punjab Kings,Mumbai Indians,CH Gayle,KL Rahul,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,6
197745,1254074,2021,2021-04-23,"MA Chidambaram Stadium, Chepauk, Chennai",2,17.1,Punjab Kings,Mumbai Indians,CH Gayle,KL Rahul,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
197746,1254074,2021,2021-04-23,"MA Chidambaram Stadium, Chepauk, Chennai",2,17.2,Punjab Kings,Mumbai Indians,CH Gayle,KL Rahul,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,2
197747,1254074,2021,2021-04-23,"MA Chidambaram Stadium, Chepauk, Chennai",2,17.3,Punjab Kings,Mumbai Indians,KL Rahul,CH Gayle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,3
197748,1254074,2021,2021-04-23,"MA Chidambaram Stadium, Chepauk, Chennai",2,17.4,Punjab Kings,Mumbai Indians,KL Rahul,CH Gayle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,4

In [29]:
Wankhede_2021['Over Number'] = (Wankhede_2021['ball'] // 1) + 1
Wankhede_2021['Ball Number'] = round(((Wankhede_2021['ball']) % 1) * 10)
Wankhede_2021 = Wankhede_2021.astype({"Over Number": int, "Ball Number": int})
Wankhede_2021

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,Over Number,Ball Number
193867,1254059,2021,2021-04-10,"Wankhede Stadium, Mumbai",1,0.1,Chennai Super Kings,Delhi Capitals,RD Gaikwad,F du Plessis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
193868,1254059,2021,2021-04-10,"Wankhede Stadium, Mumbai",1,0.2,Chennai Super Kings,Delhi Capitals,RD Gaikwad,F du Plessis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
193869,1254059,2021,2021-04-10,"Wankhede Stadium, Mumbai",1,0.3,Chennai Super Kings,Delhi Capitals,RD Gaikwad,F du Plessis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3
193870,1254059,2021,2021-04-10,"Wankhede Stadium, Mumbai",1,0.4,Chennai Super Kings,Delhi Capitals,RD Gaikwad,F du Plessis,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1,4
193871,1254059,2021,2021-04-10,"Wankhede Stadium, Mumbai",1,0.5,Chennai Super Kings,Delhi Capitals,F du Plessis,RD Gaikwad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197990,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.1,Rajasthan Royals,Kolkata Knight Riders,SV Samson,DA Miller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,1
197991,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.2,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,2
197992,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.3,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,3
197993,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.4,Rajasthan Royals,Kolkata Knight Riders,DA Miller,SV Samson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,4
197994,1254075,2021,2021-04-24,"Wankhede Stadium, Mumbai",2,18.5,Rajasthan Royals,Kolkata Knight Riders,SV Samson,DA Miller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,5

In [86]:
Chepauk_2021['isDot'] = Chepauk_2021['runs_off_bat'].apply(lambda x: 1 if x==0 else 0)
Chepauk_2021['isOne'] = Chepauk_2021['runs_off_bat'].apply(lambda x: 1 if x==1 else 0)
Chepauk_2021['isFour'] = Chepauk_2021['runs_off_bat'].apply(lambda x: 1 if x==4 else 0)
Chepauk_2021['isSix'] = Chepauk_2021['runs_off_bat'].apply(lambda x: 1 if x==6 else 0)
Chepauk_2021['isBoundary'] = Chepauk_2021['runs_off_bat'].apply(lambda x:1 if (x==4 or x==6) else 0)

In [101]:
pd.DataFrame(Chepauk_2021['player_dismissed'].value_counts())

                   player_dismissed
RG Sharma                         5
Ishan Kishan                      5
SA Yadav                          5
HH Pandya                         5
Q de Kock                         4
KH Pandya                         4
DA Warner                         4
RD Chahar                         3
JM Bairstow                       3
AD Russell                        3
GJ Maxwell                        3
EJG Morgan                        3
N Rana                            3
V Kohli                           3
RA Tripathi                       3
KA Pollard                        3
V Shankar                         3
Shakib Al Hasan                   3
Shubman Gill                      3
Abdul Samad                       2
MA Agarwal                        2
Rashid Khan                       2
DT Christian                      2
RM Patidar                        2
AB de Villiers                    2
MK Pandey                         2
D Padikkal                        2
PJ Cummins                        2
Shahbaz Ahmed                     2
Washington Sundar                 2
M Jansen                          2
WP Saha                           2
KA Jamieson                       2
CH Gayle                          1
M Ashwin                          1
B Kumar                           1
J Yadav                           1
MC Henriques                      1
SPD Smith                         1
S Dhawan                          1
Virat Singh                       1
S Nadeem                          1
JJ Bumrah                         1
DJ Hooda                          1
KL Rahul                          1
Mohammad Nabi                     1
M Shahrukh Khan                   1
RR Pant                           1
Abhishek Sharma                   1
KD Karthik                        1
PP Shaw                           1
KK Ahmed                          1
CA Lynn                           1
JO Holder                         1
N Pooran                          1
FA Allen                          1
Mohammed Shami                    1

In [87]:
Wankhede_2021['isDot'] = Wankhede_2021['runs_off_bat'].apply(lambda x: 1 if x==0 else 0)
Wankhede_2021['isOne'] = Wankhede_2021['runs_off_bat'].apply(lambda x: 1 if x==1 else 0)
Wankhede_2021['isFour'] = Wankhede_2021['runs_off_bat'].apply(lambda x: 1 if x==4 else 0)
Wankhede_2021['isSix'] = Wankhede_2021['runs_off_bat'].apply(lambda x: 1 if x==6 else 0)
Wankhede_2021['isBoundary'] = Wankhede_2021['runs_off_bat'].apply(lambda x:1 if (x==4 or x==6) else 0)

In [102]:
runs = pd.DataFrame(Chepauk_2021.groupby('striker').sum()['runs_off_bat'])
balls = pd.DataFrame(Chepauk_2021.groupby('striker').count()['ball'])
wides = pd.DataFrame(Chepauk_2021.groupby('striker').count()['wides'])
dots = pd.DataFrame(Chepauk_2021.groupby('striker').sum()['isDot'])
fours = pd.DataFrame(Chepauk_2021.groupby('striker').sum()['isFour'])
sixes = pd.DataFrame(Chepauk_2021.groupby('striker').sum()['isSix'])
boundaries = pd.DataFrame(Chepauk_2021.groupby('striker').sum()['isBoundary'])
dismissals = pd.DataFrame(Chepauk_2021['player_dismissed'].value_counts())

In [90]:
batsmen_in_Chepauk_2021 = runs.merge(balls, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball
striker
AB de Villiers              125    68
AD Russell                   45    42
Abdul Samad                  26    18
Abhishek Sharma               2     4
Arshdeep Singh                1     2
...                         ...   ...
V Kohli                      71    65
V Shankar                    42    37
Virat Singh                  11    12
WP Saha                       8    15
Washington Sundar            18    28

[66 rows x 2 columns]

In [91]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(wides, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides
striker
AB de Villiers              125    68      2
AD Russell                   45    42      2
Abdul Samad                  26    18      0
Abhishek Sharma               2     4      0
Arshdeep Singh                1     2      0
...                         ...   ...    ...
V Kohli                      71    65      1
V Shankar                    42    37      0
Virat Singh                  11    12      0
WP Saha                       8    15      0
Washington Sundar            18    28      1

[66 rows x 3 columns]

In [92]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(dots, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides  isDot
striker
AB de Villiers              125    68      2     16
AD Russell                   45    42      2     22
Abdul Samad                  26    18      0      7
Abhishek Sharma               2     4      0      3
Arshdeep Singh                1     2      0      1
...                         ...   ...    ...    ...
V Kohli                      71    65      1     26
V Shankar                    42    37      0     15
Virat Singh                  11    12      0      4
WP Saha                       8    15      0     12
Washington Sundar            18    28      1     16

[66 rows x 4 columns]

In [93]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(fours, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides  isDot  isFour
striker
AB de Villiers              125    68      2     16      13
AD Russell                   45    42      2     22       5
Abdul Samad                  26    18      0      7       1
Abhishek Sharma               2     4      0      3       0
Arshdeep Singh                1     2      0      1       0
...                         ...   ...    ...    ...     ...
V Kohli                      71    65      1     26       9
V Shankar                    42    37      0     15       0
Virat Singh                  11    12      0      4       1
WP Saha                       8    15      0     12       0
Washington Sundar            18    28      1     16       1

[66 rows x 5 columns]

In [94]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(sixes, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides  isDot  isFour  isSix
striker
AB de Villiers              125    68      2     16      13      5
AD Russell                   45    42      2     22       5      2
Abdul Samad                  26    18      0      7       1      2
Abhishek Sharma               2     4      0      3       0      0
Arshdeep Singh                1     2      0      1       0      0
...                         ...   ...    ...    ...     ...    ...
V Kohli                      71    65      1     26       9      0
V Shankar                    42    37      0     15       0      3
Virat Singh                  11    12      0      4       1      0
WP Saha                       8    15      0     12       0      1
Washington Sundar            18    28      1     16       1      0

[66 rows x 6 columns]

In [95]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(boundaries, on='striker')
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides  isDot  isFour  isSix  isBoundary
striker
AB de Villiers              125    68      2     16      13      5          18
AD Russell                   45    42      2     22       5      2           7
Abdul Samad                  26    18      0      7       1      2           3
Abhishek Sharma               2     4      0      3       0      0           0
Arshdeep Singh                1     2      0      1       0      0           0
...                         ...   ...    ...    ...     ...    ...         ...
V Kohli                      71    65      1     26       9      0           9
V Shankar                    42    37      0     15       0      3           3
Virat Singh                  11    12      0      4       1      0           1
WP Saha                       8    15      0     12       0      1           1
Washington Sundar            18    28      1     16       1      0           1

[66 rows x 7 columns]

In [96]:
batsmen_in_Chepauk_2021['ball'] = batsmen_in_Chepauk_2021['ball'] - batsmen_in_Chepauk_2021['wides']
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  wides  isDot  isFour  isSix  isBoundary
striker
AB de Villiers              125    66      2     16      13      5          18
AD Russell                   45    40      2     22       5      2           7
Abdul Samad                  26    18      0      7       1      2           3
Abhishek Sharma               2     4      0      3       0      0           0
Arshdeep Singh                1     2      0      1       0      0           0
...                         ...   ...    ...    ...     ...    ...         ...
V Kohli                      71    64      1     26       9      0           9
V Shankar                    42    37      0     15       0      3           3
Virat Singh                  11    12      0      4       1      0           1
WP Saha                       8    15      0     12       0      1           1
Washington Sundar            18    27      1     16       1      0           1

[66 rows x 7 columns]

In [97]:
batsmen_in_Chepauk_2021.drop('wides', axis=1, inplace=True)
batsmen_in_Chepauk_2021

                   runs_off_bat  ball  isDot  isFour  isSix  isBoundary
striker
AB de Villiers              125    66     16      13      5          18
AD Russell                   45    40     22       5      2           7
Abdul Samad                  26    18      7       1      2           3
Abhishek Sharma               2     4      3       0      0           0
Arshdeep Singh                1     2      1       0      0           0
...                         ...   ...    ...     ...    ...         ...
V Kohli                      71    64     26       9      0           9
V Shankar                    42    37     15       0      3           3
Virat Singh                  11    12      4       1      0           1
WP Saha                       8    15     12       0      1           1
Washington Sundar            18    27     16       1      0           1

[66 rows x 6 columns]

In [98]:
batsmen_in_Chepauk_2021.columns = ['Runs', 'Balls', 'Dots', 'Fours', 'Sixes', 'Boundaries']
batsmen_in_Chepauk_2021

                   Runs  Balls  Dots  Fours  Sixes  Boundaries
striker
AB de Villiers      125     66    16     13      5          18
AD Russell           45     40    22      5      2           7
Abdul Samad          26     18     7      1      2           3
Abhishek Sharma       2      4     3      0      0           0
Arshdeep Singh        1      2     1      0      0           0
...                 ...    ...   ...    ...    ...         ...
V Kohli              71     64    26      9      0           9
V Shankar            42     37    15      0      3           3
Virat Singh          11     12     4      1      0           1
WP Saha               8     15    12      0      1           1
Washington Sundar    18     27    16      1      0           1

[66 rows x 6 columns]

In [103]:
batsmen_in_Chepauk_2021 = batsmen_in_Chepauk_2021.merge(dismissals, on='striker')
batsmen_in_Chepauk_2021

KeyError: 'striker'

Metrics : Dot Ball %, Balls per Boundary, Strike Rate, Runs Per Innings, Balls per Dismissal

In [99]:
runs = pd.DataFrame(Wankhede_2021.groupby('striker').sum()['runs_off_bat'])
balls = pd.DataFrame(Wankhede_2021.groupby('striker').count()['ball'])
wides = pd.DataFrame(Wankhede_2021.groupby('striker').count()['wides'])
dots = pd.DataFrame(Wankhede_2021.groupby('striker').sum()['isDot'])
fours = pd.DataFrame(Wankhede_2021.groupby('striker').sum()['isFour'])
sixes = pd.DataFrame(Wankhede_2021.groupby('striker').sum()['isSix'])
boundaries = pd.DataFrame(Wankhede_2021.groupby('striker').sum()['isBoundary'])


batsmen_in_Wankhede_2021 = runs.merge(balls, on='striker')
batsmen_in_Wankhede_2021 = batsmen_in_Wankhede_2021.merge(wides, on='striker')
batsmen_in_Wankhede_2021 = batsmen_in_Wankhede_2021.merge(dots, on='striker')
batsmen_in_Wankhede_2021 = batsmen_in_Wankhede_2021.merge(fours, on='striker')
batsmen_in_Wankhede_2021 = batsmen_in_Wankhede_2021.merge(sixes, on='striker')
batsmen_in_Wankhede_2021 = batsmen_in_Wankhede_2021.merge(boundaries, on='striker')
batsmen_in_Wankhede_2021['ball'] = batsmen_in_Wankhede_2021['ball'] - batsmen_in_Wankhede_2021['wides']
batsmen_in_Wankhede_2021.drop('wides', axis=1, inplace=True)
batsmen_in_Wankhede_2021.columns = ['Runs', 'Balls', 'Dots', 'Fours', 'Sixes', 'Boundaries']

batsmen_in_Wankhede_2021

                   Runs  Balls  Dots  Fours  Sixes  Boundaries
striker
AD Russell           63     29    15      3      7          10
AM Rahane             8      8     5      1      0           1
AT Rayudu            50     34    16      1      5           6
BA Stokes             0      3     3      0      0           0
C Sakariya            0      1     1      0      0           0
CH Gayle             61     47    22      6      3           9
CH Morris            48     31    13      0      5           5
CR Woakes            15     11     2      2      0           2
CV Varun              0      1     1      0      0           0
D Padikkal          101     52    17     11      6          17
DA Miller            88     73    31     10      2          12
DJ Bravo             20      8     4      2      1           3
DJ Hooda             96     56    19      5      8          13
EJG Morgan            7      7     6      1      0           1
F du Plessis        164    113    44     17      7          24
JA Richardson        15     24    16      2      0           2
JC Buttler           89     70    34     13      2          15
JD Unadkat           35     24    11      2      2           4
K Rabada              9      4     0      1      0           1
KD Karthik           65     48    18      8      2          10
KL Nagarkoti          0      2     2      0      0           0
KL Rahul            157    108    39     15      7          22
Lalit Yadav          32     30    15      5      0           5
M Ashwin              6     14     8      0      0           0
M Prasidh Krishna     0      1     1      0      0           0
M Shahrukh Khan      68     45    17      7      3          10
M Vohra              42     39    25      5      2           7
MA Agarwal           83     47    16      9      4          13
MM Ali              133     87    42     14      7          21
MP Stoinis           41     27    12      6      1           7
MS Dhoni             35     27    15      4      1           5
Mohammed Shami        9     12     6      0      0           0
Mustafizur Rahman     0      4     4      0      0           0
N Pooran              9     11     5      1      0           1
N Rana               31     37    24      3      1           4
PJ Cummins           76     40    18      4      7          11
PP Shaw             106     60    17     12      5          17
R Ashwin              7      4     2      1      0           1
R Parag              55     39    16      5      3           8
R Tewatia            86     67    28      6      4          10
RA Jadeja            40     25     4      4      1           5
RA Tripathi          44     35    10      2      2           4
RD Gaikwad           84     79    40      8      4          12
RR Pant              81     60    24     11      1          12
S Dhawan            186    114    30     24      4          28
S Dube              110     92    43     12      3          15
S Gopal               7      4     2      0      1           1
SK Raina             80     60    27      5      5          10
SM Curran            52     25     6      5      3           8
SN Thakur             1      1     0      0      0           0
SP Narine            10     10     6      2      0           2
SPD Smith             9     12     3      0      0           0
SV Samson           187    130    50     17      9          26
Shivam Mavi           5      7     5      1      0           1
Shubman Gill         11     20    14      1      0           1
TK Curran            21     16     4      2      0           2
V Kohli              72     47    10      6      3           9
YBK Jaiswal          22     17    10      5      0           5